.titill {
    color: red;
    font-size: 60px;
}
.mybutton {
    background: red;
    font-size: 0.75em;
}
img {
    width: 100%;
}

.shyButtonmybutton{
    background-color: red;

}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQloJN8-ForBFfaMFOYygWx2AV3ux1slekBg2qmf99Pb8A0moXM);
    background-size: cover;
}
.nest {
    text-align: center;
    
}
.nest h1 {
    color: rgb(189, 47, 255);
}

.card {
    background-color: orange;
}

@media only screen and (max-width: 1000px) {
    .andskotin{
        width:50%;
    }
    
}
@media only screen and (max-width: 600px) {
    .andskotin{
        width:100%;
    }
}